@inject IMovieService MovieService
@inject NavigationManager NavManager

<div>
    
    <button @onclick="EditMovie">
        Edit Movie
    </button>
    
    <button @onclick="DeleteMovie">
        Delete Movie
    </button>

</div>

@code {
    [Parameter]
    public string id { get; set; }
    
    private void EditMovie()
    {
        NavManager.NavigateTo($"movies/edit/{id}");
    }
    private void DeleteMovie()
    {
        MovieService.DeleteMovieById(Int32.Parse(id));
        NavManager.NavigateTo("/", true);
    }
}
